@use "../../../style/normalize.scss" as *;

.post {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 15px 10px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  list-style: none;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 45%;
    &::after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      padding-top: 10px;
      border-bottom: 1px solid black;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__edit-wrap {
    display: flex;
    flex-direction: row;
  }

  &__postId {
    font-weight: bold;
  }

  &__userId {
    font-style: italic;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba($theme-color, 0.2);
    &:hover {
      cursor: pointer;
      background-color: rgba($theme-color, 0.5);
      box-shadow: 0px 0px 5px rgba($theme-color, 0.7);
      .post__item {
        width: 20px;
        height: 20px;
      }
    }
    &:active {
      box-shadow: 0px 0px 7px rgba($theme-color, 0.9);
    }
  }

  &__item {
    width: 15px;
    height: 15px;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;
  }

  &__completed {
    font-weight: bold;
  }
}
