@use "./normalize.scss" as *;

.app {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    z-index: -1;
    transition: opacity 1s ease;
    &--visible {
      opacity: 1;
    }
    &--invisible {
      opacity: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $h;
    width: 100%;
    font-size: $fz;
    color: $theme-font-color;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }

  &__main-title,
  &__nav-title {
    font-family: "Poppins", sans-serif;
    color: $theme-font-color2;
    margin-bottom: 20px;
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    @media (max-width: 1100px) {
      font-size: 20px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-basis: 100%;
    max-width: 85%;
    line-height: 25px;
    overflow-y: auto;
    height: $section-h;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0.5)
    );
    padding: 15px 65px;
    @media (max-width: 900px) {
      padding: 15px;
      max-width: 100%;
      height: calc($section-h - $h * 1.5);
    }
  }

  &__list-item {
    color: $theme-font-color2;
    margin-bottom: 14px;
    letter-spacing: 1px;
  }

  &__clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    &:hover {
      scale: 1.01;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }
    &:active {
      scale: 1;
      box-shadow: none;
      cursor: pointer;
    }
  }

  // userDetailed and Tabs MAIN WRAPPER !!!
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    // width: 100%;
    margin: 0 auto;
    gap: 30px;
  }
}
