@use "./variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.page {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
  list-style: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  user-select: none;
  &:hover {
    cursor: pointer;
    scale: (1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  &:active {
    scale: (1);
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &::after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      padding-top: 10px;
      border-bottom: 1px solid black;
    }
  }

  &__userWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
  }

  &__userContainer {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    margin: 0 25px;
    font-size: 20px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__userId {
    font-style: italic;
  }

  &__userID,
  &__todoId,
  &__postId {
    font-weight: bold;
  }

  &__edit-wrap {
    display: flex;
    flex-direction: row;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: rgba($theme-color, 0.4);
    box-shadow: 0px 0px 5px rgba($theme-color, 0.7);
    &:hover {
      cursor: pointer;
      background-color: rgba($theme-color, 0.7);
      box-shadow: 0px 0px 7px rgba($theme-color, 0.7);
      .page__item {
        width: 20px;
        height: 20px;
      }
    }
    &:active {
      box-shadow: 0px 0px 7px rgba($theme-color, 0.9);
    }
  }

  &__item {
    width: 15px;
    height: 15px;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;
  }

  &__completed {
    font-weight: bold;
  }

  // --- CSS Transition Group --- //
  &-appear {
    opacity: 0;
    transform: scale(0.2);
  }

  &-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  &-enter {
    opacity: 0;
    transform: scale(0.2);
  }

  &-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  &-exit {
    opacity: 1;
    transform: scale(1);
  }

  &-exit-active {
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 300ms, transform 300ms;
  }
}
