@use "./variables.scss" as *;
@use "./mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.page {
  @include mixin.passiveEntry();
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;

  &__link {
    color: black;
    text-decoration: none;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &::after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      padding-top: 10px;
      border-bottom: 1px solid black;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__userId {
    font-style: italic;
  }

  &__userID,
  &__todoId,
  &__postId {
    font-weight: bold;
  }

  &__edit-wrap {
    display: flex;
    flex-direction: row;
  }

  &__btn {
    @include mixin.closeEditButton();
    &:hover {
      .page__item {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__item {
    width: 15px;
    height: 15px;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;
  }

  &__completed {
    font-weight: bold;
  }

  // --- CSS Transition Group --- //
  &-appear {
    opacity: 0;
    transform: scale(0.2);
  }
  &-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  &-enter {
    opacity: 0;
    transform: scale(0.2);
  }
  &-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  &-exit {
    opacity: 1;
    transform: scale(1);
  }
  &-exit-active {
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 300ms, transform 300ms;
  }
}
