@use "../../../style/normalize.scss" as *;

.detailedUser {
  display: flex;
  justify-content: center;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  @media (max-width: 900px) {
    max-width: none;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    // flex-direction: row;
    margin: 15px 0;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
  &__info-icon {
    width: 50px;
    height: 50px;
    margin: 0 20px;
  }
  &__info-item {
    font-size: 23px;
    font-weight: bold;
  }
  &__info-name {
    font-style: italic;
    color: $theme-color;
  }

  &__line {
    &::after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 5px 0;
      border-bottom: 1px solid black;
    }
  }

  &__backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 20px auto 0 auto;
    padding: 7px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    &:hover {
      scale: 1.01;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    }
  }
  &__backBtn-icon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }

  // --- CSS Transition Group --- //

  &-appear {
    opacity: 0;
    transform: scale(0.2);
  }

  &-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  &-enter {
    opacity: 0;
    transform: scale(0.2);
  }

  &-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  &-exit {
    opacity: 1;
    transform: scale(1);
  }

  &-exit-active {
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 300ms, transform 300ms;
  }
}

.userTabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  @media (max-width: 900px) {
    justify-content: center;
    max-width: none;
  }
  &__text {
    margin: 0 0 10px;
  }

  &__nav {
    display: flex;
  }

  &__navBtn {
    padding: 15px 30px;
    width: 100%;
    font-size: 20px;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.6);
  }
  &__navBtn:hover {
    background-color: lighten($theme-color, 35%);
  }
  &__navBtn.active {
    background-color: $theme-color;
    border-right-color: $theme-color;
    color: #fff;
  }

  &__navBtn:first-child {
    border-top-left-radius: 25px;
  }
  &__navBtn:last-child {
    border-right: none;
    border-top-right-radius: 25px;
  }

  &__content {
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    // background-color: #fff;
  }
  &__item {
    display: none;
  }
  &__item.active {
    display: block;
  }
}
