@use "../../../style/normalize.scss" as *;

.detailedUser {
  display: flex;
  justify-content: center;
  max-width: 600px;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);

  &__column {
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    &:hover {
      cursor: pointer;
      scale: 1.01;
    }
  }

  &__info-item {
    font-size: 23px;
    font-weight: bold;
  }

  &__info-name {
    font-style: italic;
  }

  &__line {
    &::after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      padding-top: 10px;
      border-bottom: 1px solid black;
    }
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin: 0 20px;
  }

  // --- CSS Transition Group --- //
  &-enter {
    opacity: 0;
    transform: scale(0.2);
  }

  &-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }

  &-exit {
    opacity: 1;
    transform: scale(1);
  }

  &-exit-active {
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 300ms, transform 300ms;
  }
}
