@use "../../../style/normalize.scss" as *;

.edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  left: 23%;
  bottom: 10%;
  @media (max-width: 730px) {
    left: 5%;
  }

  &__cross-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba($theme-color, 0.4);
    mix-blend-mode: multiply;
    &:hover {
      box-shadow: 0px 0px 6px rgba($theme-color, 0.7);
      cursor: pointer;
      ~ .add__message-wrap {
        display: block;
      }
    }
    &:active {
      box-shadow: 0px 0px 12px rgba($theme-color, 0.9);
    }
  }

  &__cross {
    color: white;
    transform: rotate(45deg);
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: rotate(135deg);
    }
  }

  &__message-wrap {
    display: none;
    position: absolute;
    height: 27px;
    width: 150px;
    left: 93%;
    color: white;
    background-color: rgba($theme-color, 0.4);
    box-shadow: 0px -3px 3px rgba($theme-color, 0.4),
      0px 3px 3px rgba($theme-color, 0.4);
    mix-blend-mode: multiply;
    &:hover {
      cursor: pointer;
      display: block;
    }
    &:active {
      box-shadow: 0px 0px 12px rgba($theme-color, 0.7);
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent transparent transparent $theme-color;
      border-width: 15px 0 15px 10px;
      opacity: 0.4;
    }
  }

  &__message {
    margin: 0 5px;
  }
}

.newEntry {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  bottom: 50px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  left: 50%;
  opacity: 0;
  @media (max-width: 730px) {
    width: 300px;
    bottom: 50px;
  }
  &--show {
    opacity: 1;
    transform: translate(-50%, -0%);
  }

  &__wrap {
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px;
    height: 250px;
    width: 100%;
    box-shadow: 0 0 5px #cccccc;
    background-color: lighten($theme-color, 55%);
    opacity: 0.95;
  }

  &__titlearea,
  &__textarea {
    padding: 5px;
    border-radius: 5px;
    // margin-bottom: 10px;
    outline: none;
    border: 1px solid $theme-color;
    width: 100%;
    transition: box-shadow 0.3s ease;
    resize: none;
    &::placeholder {
      text-align: center;
      color: #999;
      font-style: italic;
    }
    &:focus {
      box-shadow: 0 0 5px $theme-color;
      border: 1px solid $theme-color;
    }
  }

  &__titlearea {
    margin-bottom: 15px;
  }

  &__textarea {
    height: 140px;
  }

  &__userWrap {
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }

  &__userImg {
    object-fit: cover;
    object-position: center;
    width: 20px;
    height: 20px;
  }

  &__userName {
    margin: 0 5px;
  }

  &__btn {
    background: linear-gradient(
      to right,
      $theme-color,
      lighten($theme-color, 35%),
      $theme-color
    );
    height: 30px;
    width: 100%;
    color: white;
    opacity: 0.9;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s ease;
    &:hover {
      cursor: pointer;
      background: $theme-color;
    }
  }

  &__cross-wrap {
    position: fixed;
    right: 1%;
    top: 1%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
}

.checkBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__input {
    height: 0;
    width: 0;
  }
  &__label {
    display: block;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    width: 120px;
    height: 60px;
    background: lighten($theme-color, 40%);
    border-radius: 100px;
    transform: scale(0.45);
    box-shadow: inset 0px 0px 20px 5px darken($theme-color, 10%);
    transition: background-color 0.3s;
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 50px;
      height: 50px;
      background: $theme-color;
      border-radius: 100px;
      transition: 0.3s;
    }
  }
  &__input:checked + &__label {
    background-color: green;
  }
  &__input:checked + &__label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  &__label:active:after {
    width: 100px;
  }
}
