@use "../../../style/variables.scss" as *;
@use "../../../style/mixin.scss";

.scroll {
  @include mixin.fixedButton();
  justify-content: center;
  position: fixed;
  right: 2%;
  bottom: 10%;

  &__arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    transform: rotate(45deg);
    transition: transform 1s ease;
    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      border-left: none;
      border-top: none;
      border-right: 1px #fff solid;
      border-bottom: 1px #fff solid;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: arrow;
    }
    @keyframes arrow {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translate(-10px, -10px);
      }
    }
  }

  &__arrowUp {
    transform: rotate(225deg);
  }
  &__arrowDown {
    transform: rotate(45deg);
  }
}
