@use "../../style/normalize.scss" as *;

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $theme-font-color;
  background: rgba(0, 0, 0, 0.3);
  height: $h;
  width: 100%;
  @media (max-width: 900px) {
    height: calc($h * 1.5);
  }
  &__icon {
    display: block;
    width: 25px;
    height: 25px;
    margin: 5px;
    filter: invert(1);

    transition: opacity 0.3s ease;
    &:hover {
      cursor: pointer;
      opacity: 1;
      scale: 1.1;
    }
    // for audio player
    &[disabled] {
      cursor: default;
      opacity: 0.3;
    }
  }
  &__linkwrap {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    @media (max-width: 900px) {
      margin: 0 10px;
    }
  }

  &__clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    &:hover {
      scale: 1.01;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }
  }
  &__backBtn-icon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
}
