@use "../../../style/normalize.scss" as *;

.todo {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 15px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 45%;
    &::after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      padding-top: 10px;
      border-bottom: 1px solid black;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 5px;
    // text-align: center;
  }

  &__completed {
    font-weight: bold;
  }
}
