@use "../../shared/normalize.scss" as *;

.user {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 15px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    margin: 0 25px;
  }
}
